.about-me {
  padding: 132px 0;
  padding-left: 12px;
  padding-right: 12px;
}

.about-me__wrapper {
  max-width: 454px;
  margin-left: 80px;
}

@media (max-width: $width-large-screen) {
  .about-me__wrapper {
    margin: 0 auto;
    text-align: center;
  }
}