.footer {
  padding: 95px 0;
  letter-spacing: 0.08px;
  background-color: $footer-bg-color;

  &__heading {
    margin: 0;
    margin-bottom: 20px;
    color: $white-color;
    font-family: $primary-font-stack;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.18px;
  }

  &__description {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color: $footer-text-color;
    font-family: $secondary-font-stack;
    font-weight: 400;
  }

  &__contacts {
    text-align: center;
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__menu-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    color: $footer-text-color;
    font-family: $secondary-font-stack;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    text-decoration: none;
  }

  &__company,
  &__contacts,
  &__menu-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: $width-medium-screen) {
  .footer__company {
    text-align: center;
  }
}