.map__object {
  margin-bottom: 100px;
  position: relative;
  min-height: 470px;
  background-color: $map-bg-color;

  &::after {
    position: absolute;
    left: 54%;
    top: 39%;
    width: 22px;
    height: 32px;
    content: "";
    background-image: url('../img/pointer.png')
  }
}

