.subsection {
  padding: 100px 0;
}

.subsection__heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  font-family: $primary-font-stack;
  letter-spacing: 0.3px;
}

.subsection__description {
  margin: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 1.5;
  font-family: $secondary-font-stack;
  color: $section-text-color;
  letter-spacing: 0.08px;
}