.button {
  font-size: 12px;
  background-color: #10c9c3;
  border: 2px solid transparent;
  color: #ffffff;
  text-transform: uppercase;
  padding: 18px 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  color: #10c9c3;
  background-color: #ffffff;
  border: 2px solid #10c9c3;
}

.button:not(:hover):focus {
  background-color: #258e8b;
}