.contacts__wrapper {
  justify-content: space-between;
  padding: 90px 0;
}

.contact-list {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.2px;
}

.contact-list__item {
  margin-bottom: 14px;
}

.contact-list__contact {
  color: #787878;
  margin: 0;
}

.contact-list__link {
  text-decoration: none;
  color: #787878;
}

.contact-list__contact span {
  font-weight: 700;
  color: #171717;
}