.form {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.form__input {
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  padding: 12px 22px;
  border: none;
  background-color: #ffffff;
  color: black;
  transition: box-shadow .3s;
  outline: none;
}

.form__input:hover {
  box-shadow: 0 2px 6px rgba(33, 33, 33, 0.12);
}

.form__input:focus {
  box-shadow: 0 4px 12px rgba(33, 33, 33, 0.12);
}

.form__input::placeholder {
  color: #787878;
}

.form__input-wrapper {
  margin-bottom: 31px;
}

.form__input-wrapper:nth-child(1) {
  margin-right: 30px;
}

.form__input-wrapper:nth-child(1),
.form__input-wrapper:nth-child(2) {
  flex-grow: 1;
}

.form__input-wrapper:nth-child(3),
.form__input-wrapper:nth-child(4) {
  width: 100%;
}

.form__input--textarea {
  resize: none;
}