.section {
  padding: 114px 0;
}

.section__heading {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  text-align: center;
  margin-bottom: 20px;
}

.section__description {
  margin: 0 auto;
  max-width: 512px;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  color: #787878;
}
