// colors
$accent-color: rgba(16, 201, 195, 1);
$accent-color-darken: rgba(37, 142, 139, 1);
$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(40, 40, 40, 1);

$footer-bg-color: rgba(20, 20, 20, 1);
$footer-text-color: rgba(188, 188, 188, 1);
$section-bg-color: rgba(62, 62, 62, 1);
$section-text-color: rgba(120, 120, 120, 1);
$contacts-dark-text: rgba(23, 23, 23, 1);
$main-bg-color: rgba(245, 245, 245, 1);
$gallery-bg-color-dark: rgba(131, 131, 131, 1);
$gallery-bg-color-light: rgba(221, 221, 221, 1);
$input-shadow: rgba(33, 33, 33, 0.12);
$map-bg-color: rgba(224, 224, 224, 1);

// fonts
$primary-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Nunito Sans', sans-serif;

// layout
$max-width: 1200px;

// breakpoints
$width-small-screen: 570px;
$width-medium-screen: 720px;
$width-large-screen: 992px;
