// colors
$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(40, 40, 40, 1);

$main-color: rgb(0, 78, 206);

// fonts


// layout
$max-width: 1200px;

// breakpoints
$width-small-screen: 320px;
$width-medium-screen: 720px;
$width-large-screen: 960px;
